<!doctype html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>世界品牌洗碗機一站選定｜嘉儀家品洗碗機選品顧問</title>
    <meta
      name="description"
      content="嘉儀家品集結德國、義大利、美國、台灣等世界頂尖品牌洗碗機，洗碗機規格多元齊全、同時提供專業顧問諮詢及保修服務，幫助你一次比較、一站選定，找到最適合你家的洗碗機。立即了解！"
    />
    <!-- 網頁標題（分享卡片的主標題） -->
    <meta
      property="og:title"
      content="世界品牌洗碗機一站選定｜嘉儀家品洗碗機選品顧問"
    />

    <!-- 網頁描述（卡片下方文字） -->
    <meta
      property="og:description"
      content="嘉儀家品集結德國、義大利、美國、台灣等世界頂尖品牌洗碗機，洗碗機規格多元齊全、同時提供專業顧問諮詢及保修服務，幫助你一次比較、一站選定，找到最適合你家的洗碗機。立即了解！"
    />

    <!-- (待填入) 網頁網址（建議填入實際 domain） -->
    <meta property="og:url" content="https://dwguide.kenk.com.tw/" />

    <!-- 頁面主圖（分享時會顯示的縮圖） -->
    <!-- <meta
      property="og:image"
      content="https://raw.githubusercontent.com/TaideLiweb/GTI/refs/heads/main/assets/images/og-image-1200x630.jpg"
    /> -->
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- 網站名稱 -->
    <meta
      property="og:site_name"
      content="世界品牌洗碗機一站選定｜嘉儀家品洗碗機選品顧問"
    />

    <!-- 頁面類型（website、article、video、product…）-->
    <meta property="og:type" content="website" />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/images/KEHOME-LOGO-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/images/KEHOME-LOGO-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="./assets/images/KEHOME-LOGO-64x64.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap"
      rel="stylesheet"
    />

    <link href="./assets/css/swiper-bundle.css" rel="stylesheet" />
    <link href="./assets/css/output.css" rel="stylesheet" />
    <!-- Include the CSS & JS.. (This could be direct from the package or bundled) -->
    <link rel="stylesheet" href="./assets/css/lite-yt-embed.css" />

    <script src="./assets/js/lite-yt-embed.js"></script>
  </head>
  <body>
    <header
      class="fixed left-0 top-0 z-10 flex h-[70px] w-full items-center justify-between bg-white px-[20px] shadow-lg md:h-[90px] md:px-[30px]"
    >
      <div class="flex items-center md:gap-3">
        <img
          class="w-[130px] lg:w-[180px]"
          src="./assets/images/logo.png"
          alt="嘉儀家品"
        />
        <span class="text-[12px] font-bold text-[#4D4D4D] lg:text-[16px]"
          >世界品牌一試就上手、選機變輕鬆！</span
        >
      </div>
    </header>
    <main class="overflow-hidden">
      <section
        class="bg relative mt-[70px] overflow-hidden pb-[70px] md:mt-[90px] md:pb-[90px]"
      >
        <div class="container">
          <img
            class="absolute bottom-0 left-0 right-0 top-0 m-auto"
            src="./assets/images/map.png"
            width="100%"
            alt=""
          />
          <div
            class="top-title relative z-[1] mt-12 flex -translate-y-10 flex-col items-center gap-2 opacity-0 md:mt-16"
          >
            <h1
              class="flex flex-wrap justify-center gap-2 text-2xl font-bold text-[#0B387B] md:mb-2 md:gap-8 md:text-4xl"
            >
              <span>嘉儀家品</span>
              <span>世界品牌洗碗機選購指南</span>
            </h1>
            <p class="text-base font-medium text-[#754C24] md:text-3xl">
              一站選對世界品牌，洗碗機購足新主張！
            </p>
          </div>
          <div class="relative z-[1] mt-20 flex justify-center gap-4 md:gap-10">
            <div class="dishwasher">
              <div
                class="light-move-1 relative overflow-hidden shadow-[0px_0px_15px_rgba(0,0,0,0.3)]"
              >
                <img
                  src="./assets/images/miele-pd.png"
                  width="100%"
                  alt="miele-洗碗機"
                />
              </div>
              <div class="flex flex-col items-center gap-2">
                <div class="w-[30%]">
                  <img
                    src="./assets/images/Germany.png"
                    width="100%"
                    alt="Germany"
                  />
                </div>
                <div class="flex h-[30px] flex-col justify-center">
                  <img
                    class="h-5 w-auto"
                    src="./assets/images/miele-logo.png"
                    alt="miele-logo"
                  />
                </div>
              </div>
            </div>
            <div class="dishwasher">
              <div
                class="light-move-2 relative overflow-hidden shadow-[0px_0px_15px_rgba(0,0,0,0.3)]"
              >
                <img
                  src="./assets/images/bertazzoni-pd.png"
                  width="100%"
                  alt="bertazzoni-洗碗機"
                />
              </div>
              <div class="flex flex-col items-center gap-2">
                <div class="w-[30%]">
                  <img
                    src="./assets/images/Italy.png"
                    width="100%"
                    alt="Germany"
                  />
                </div>
                <div class="flex h-[30px] flex-col justify-center">
                  <img
                    class="h-5 w-auto"
                    src="./assets/images/bertazzoni-logo.png"
                    alt="bertazzoni-logo"
                  />
                </div>
              </div>
            </div>
            <div class="dishwasher">
              <div
                class="light-move-3 relative overflow-hidden shadow-[0px_0px_15px_rgba(0,0,0,0.3)]"
              >
                <img
                  src="./assets/images/whirlpool-pd.png"
                  width="100%"
                  alt="whirlpool-洗碗機"
                />
              </div>
              <div class="flex flex-col items-center gap-2">
                <div class="w-[30%]">
                  <img src="./assets/images/us.png" width="100%" alt="us" />
                </div>
                <div class="flex h-[30px] flex-col justify-center">
                  <img
                    class="h-5 w-auto"
                    src="./assets/images/whirlpool-logo.png"
                    alt="whirlpool-logo"
                  />
                </div>
              </div>
            </div>
            <div class="dishwasher">
              <div
                class="light-move-4 relative overflow-hidden shadow-[0px_0px_15px_rgba(0,0,0,0.3)]"
              >
                <img
                  src="./assets/images/ke-pd.png"
                  width="100%"
                  alt="ke-洗碗機"
                />
              </div>
              <div class="flex flex-col items-center gap-2">
                <div class="w-[30%]">
                  <img
                    src="./assets/images/taiwan.png"
                    width="100%"
                    alt="taiwan"
                  />
                </div>
                <div class="flex h-[30px] flex-col justify-center">
                  <img
                    class="h-5 w-auto"
                    src="./assets/images/ke-logo.png"
                    alt="ke-logo"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <img
          class="bg-decorate absolute left-0 top-0 w-[50%] md:w-[25%] lg:max-h-[1000px] lg:w-auto"
          src="assets/images/bg-decorate-1.png"
          alt=""
        />
        <div class="container flex flex-col items-center justify-center">
          <div class="section-title">
            <h2>嚴選世界品牌，打造家的洗碗新體驗</h2>
            <p>嘉儀家品四大保証</p>
          </div>
          <div class="flex flex-col gap-14 md:flex-row md:gap-10 lg:my-16">
            <div class="circle-card">
              <div class="circle-card-icon">
                <img src="assets/images/star-icon.png" width="100%" alt="" />
              </div>
              <p class="circle-card-text">
                <span>引進全球頂尖</span>
                <span>洗碗機品牌</span>
              </p>
            </div>
            <div class="circle-card">
              <div class="circle-card-icon">
                <img src="assets/images/star-icon.png" width="100%" alt="" />
              </div>
              <p class="circle-card-text">
                <span>專業顧問</span>
                <span>選機服務</span>
              </p>
            </div>
            <div class="circle-card">
              <div class="circle-card-icon">
                <img src="assets/images/star-icon.png" width="100%" alt="" />
              </div>
              <p class="circle-card-text">
                <span>洗碗機規格</span>
                <span>多元齊全</span>
              </p>
            </div>
            <div class="circle-card">
              <div class="circle-card-icon">
                <img src="assets/images/star-icon.png" width="100%" alt="" />
              </div>
              <p class="circle-card-text">
                <span>全台展售據點</span>
                <span>售後完整支援</span>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div
          id="quiz-position"
          class="absolute top-[-90px] md:top-[-110px]"
        ></div>
        <img
          class="bg-decorate absolute right-0 top-[-30%] z-[-1] w-[50%] md:top-[-5%] md:w-[30%] lg:max-h-[1000px] lg:w-auto"
          src="assets/images/bg-decorate-2.png"
          alt=""
        />
        <div class="container flex flex-col items-center justify-center">
          <div class="section-title">
            <h2>命定洗碗機 Quiz</h2>
            <p>世界品牌，一次選到家</p>
          </div>
          <div
            class="w-full bg-white font-[600] text-[#382C27] lg:text-lg"
            id="capture"
            v-scope="App"
            v-cloak
          >
            <h3
              class="gradient-white-blue-2 py-4 text-center text-xl text-white"
            >
              {{quizTitle}}
            </h3>
            <p
              id="quiz-description"
              class="p-6"
              v-if="questionCurrentIndex !== 5"
            >
              「每個家庭的廚房格局、生活習慣都不同，挑選洗碗機前，先了解自己的需求很重要。我們為你準備了簡單問題，3分鐘就能幫助你快速判斷，選擇命定機型!
            </p>
            <div class="p-6">
              <div
                id="q1"
                class="mb-6"
                :style="{display: questionCurrentIndex === 1 || showQuestion === 'countertop'||  showQuestion === 'others' ? 'block' : 'none'}"
              >
                <h4 class="mb-2">Q1.您打算安裝的洗碗機類型？</h4>
                <ul class="mb-2 flex flex-wrap gap-x-2">
                  <li
                    class="flex-shrink-0"
                    v-for="(options, index) in q1Options"
                  >
                    <label
                      class="checkbox-group"
                      :for="'q1-' + index"
                      @click="handleOptionClick('q1Answers', options.value)"
                    >
                      <input
                        class="checkbox-input"
                        :id="'q1-' + index"
                        name="q1"
                        type="radio"
                        :checked="q1Answers === options.value"
                      />
                      <span class="checkbox-span"></span>
                      <span class="checkbox-text">{{options.text}}</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div
                id="q2"
                class="mb-6"
                :style="{display: questionCurrentIndex === 2 || showQuestion === 'countertop'|| showQuestion === 'others' ? 'block' : 'none'}"
              >
                <h4 class="mb-2">
                  {{q1Answers === "countertop" ? "Q2.您注重的功能？" :
                  "Q2.您家中可使用的電壓？"}}
                </h4>
                <ul class="mb-2 flex flex-wrap gap-x-2">
                  <li
                    class="flex-shrink-0"
                    v-for="(options, index) in q2Options"
                  >
                    <label
                      class="checkbox-group"
                      :for="'q2-' + index"
                      @click="handleOptionClick('q2Answers', options)"
                    >
                      <input
                        class="checkbox-input"
                        :id="'q2-' + index"
                        name="q2"
                        type="radio"
                        :checked="q2Answers === options"
                      />
                      <span class="checkbox-span"></span>
                      <span class="checkbox-text">{{options}}</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div
                id="q3"
                class="mb-6"
                :style="{display: questionCurrentIndex === 3 || showQuestion === 'others' ? 'block' : 'none'}"
              >
                <h4 class="mb-2">Q3.您的安裝空間高度？</h4>
                <ul class="mb-2 flex flex-wrap gap-x-2">
                  <li
                    class="flex-shrink-0"
                    v-for="(options, index) in q3Options"
                  >
                    <label
                      class="checkbox-group"
                      :for="'q3-' + index"
                      @click="handleOptionClick('q3Answers', options)"
                    >
                      <input
                        class="checkbox-input"
                        :id="'q3-' + index"
                        name="q3"
                        type="radio"
                        :checked="q3Answers === options"
                      />
                      <span class="checkbox-span"></span>
                      <span class="checkbox-text">{{options}}</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div
                id="q4"
                class="mb-6"
                :style="{display: questionCurrentIndex === 4 || showQuestion === 'others' ? 'block' : 'none'}"
              >
                <h4 class="mb-2">Q4.您的預算範圍？</h4>
                <ul class="flex flex-wrap gap-x-2">
                  <li
                    class="flex-shrink-0"
                    v-for="(options, index) in q4Options"
                  >
                    <label
                      class="checkbox-group"
                      :for="'q4-' + index"
                      @click="handleOptionClick('q4Answers', options)"
                    >
                      <input
                        class="checkbox-input"
                        :id="'q4-' + index"
                        name="q4"
                        type="radio"
                        :checked="q4Answers === options"
                      />
                      <span class="checkbox-span"></span>
                      <span class="checkbox-text">{{options}}</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div
                id="answer"
                class="mb-6 text-center"
                :class="{hidden: questionCurrentIndex !== 5}"
              >
                <div class="justify-center py-6">
                  <span class="mb-4 block flex-shrink-0">推薦品牌</span>
                  <ul class="flex flex-col items-center gap-4">
                    <li
                      class="brand-link-miele"
                      :class="{hidden: mieleModel.length === 0}"
                    >
                      <a
                        class="flex-shrink-0"
                        href="https://miele.kenk.com.tw/application/dish-washer"
                        target="_blank"
                        ><img
                          class="h-[30px] w-auto"
                          src="assets/images/miele-logo.png"
                          alt=""
                      /></a>
                      <span>：</span>
                      <p class="flex max-w-[370px] flex-wrap gap-2">
                        <span v-for="item in mieleModel">{{ item.model }}</span>
                      </p>
                    </li>
                    <li
                      class="brand-link-bertazzoni"
                      :class="{hidden: bertazzoniModel.length === 0}"
                    >
                      <a
                        href="https://bertazzoni.kenk.com.tw/product.php?lang=tw&tb=1&cid=268"
                        target="_blank"
                      >
                        <img
                          class="h-[30px] w-auto"
                          src="assets/images/bertazzoni-logo.png"
                          alt=""
                        />
                      </a>
                      <span>：</span>
                      <p class="flex max-w-[370px] flex-wrap gap-2">
                        <span v-for="item in bertazzoniModel"
                          >{{ item.model }}</span
                        >
                      </p>
                    </li>
                    <li
                      class="brand-link-whirlpool"
                      :class="{hidden: whirlpoolModel.length === 0}"
                    >
                      <a
                        href="https://whirlpool.kenk.com.tw/product.php?lang=tw&tb=1&cid=4"
                        target="_blank"
                      >
                        <img
                          class="h-[30px] w-auto"
                          src="assets/images/whirlpool-logo.png"
                          alt=""
                      /></a>
                      <span>：</span>
                      <p class="flex max-w-[370px] flex-wrap gap-2">
                        <span v-for="item in whirlpoolModel"
                          >{{ item.model }}</span
                        >
                      </p>
                    </li>
                    <li
                      class="brand-link-ke"
                      :class="{hidden: keModel.length === 0}"
                    >
                      <a href="https://kedw.kenk.com.tw/" target="_blank">
                        <img
                          class="h-[30px] w-auto"
                          src="assets/images/ke-logo.png"
                          alt=""
                        />
                      </a>
                      <span>：</span>
                      <p class="flex max-w-[370px] flex-wrap gap-2">
                        <span v-for="item in keModel">{{ item.model }}</span>
                      </p>
                    </li>
                  </ul>
                </div>
                <p v-if="q1Answers==='freestanding'">
                  (若為廚櫃下方安裝，可扣除上蓋約2-3公分)
                </p>
                <p>
                  依據您提供的資訊，問卷結果已為您初步篩選出最適合的建議型號。<br />
                  請您將此頁面存檔，並攜至鄰近的百貨專櫃或展示中心。我們的服務人員將為您進行更詳細的解說與介紹。
                </p>
              </div>
              <div
                class="flex items-center justify-center gap-5"
                data-capture="exclude"
              >
                <button
                  class="form-btn form-prev-btn"
                  v-if="questionCurrentIndex > 1"
                  @click="handlePrevBtnClick"
                >
                  上一題
                </button>
                <button
                  class="form-btn form-next-btn"
                  :class="{hidden: questionCurrentIndex === 5}"
                  :disabled="questionCurrentIndex === 1 && q1Answers === '' || questionCurrentIndex === 2 && q2Answers === '' || questionCurrentIndex === 3 && q3Answers === '' || questionCurrentIndex === 4 && q4Answers === ''"
                  @click="handleNextBtnClick"
                >
                  下一題
                </button>
                <button
                  class="form-btn"
                  :class="{hidden: questionCurrentIndex !== 5}"
                  @click="screenShot"
                >
                  下載問卷
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <img
          class="bg-decorate absolute bottom-[-3%] left-0 z-[-1] w-[50%] md:bottom-[-13%] md:w-[30%] lg:max-h-[1000px] lg:w-auto"
          src="assets/images/bg-decorate-3.png"
          alt=""
        />
        <div class="container flex flex-col items-center justify-center">
          <div class="section-title">
            <h2 class="flex justify-center gap-2">
              <span>世界品牌</span><span>就愛嘉儀家品</span>
            </h2>
          </div>
          <div
            class="flex flex-col items-center gap-5 font-[600] md:flex-row md:flex-wrap"
          >
            <div class="square-card">
              <img
                class="absolute left-[50%] top-[45%] z-[1] w-[90%] -translate-x-1/2 -translate-y-1/2 opacity-50"
                src="assets/images/bubble.png"
                alt=""
              />
              <a class="square-card-logo" target="_blank">
                <img
                  class="h-[30px]"
                  src="assets/images/miele-logo.png"
                  alt=""
                />
              </a>
              <p class="square-card-text">
                <span>德國人評選滿意度、推薦度、品質信賴第一洗碗機品牌</span>
              </p>
              <ul class="relative z-[1] flex flex-col gap-4 text-base">
                <li class="flex items-start">
                  <h3
                    class="flex flex-shrink-0 items-center gap-2 text-[#0B387B]"
                  >
                    <img src="assets/images/clean.png" width="15px" alt="" />
                    特點：
                  </h3>
                  <p class="text-[#808080]">
                    具備AutoDos智能自動洗劑投放系統、AsianBaskets全方位中式碗籃
                    AutoOpen自動開門烘乾科技
                  </p>
                </li>
                <li class="flex items-start">
                  <h3
                    class="flex flex-shrink-0 items-center gap-2 text-[#0B387B]"
                  >
                    <img src="assets/images/family.png" width="15px" alt="" />
                    適合對象：
                  </h3>
                  <p class="text-[#808080]">
                    重視品質、設計與耐用性的高端家庭或品味人士
                  </p>
                </li>
              </ul>
              <a
                class="square-card-btn"
                href="https://miele.kenk.com.tw/application/dish-washer"
                target="_blank"
                >MIELE洗碗機<span>＞</span>
              </a>
            </div>
            <div class="square-card">
              <img
                class="absolute left-[50%] top-[45%] z-[1] w-[90%] -translate-x-1/2 -translate-y-1/2 opacity-50"
                src="assets/images/bubble.png"
                alt=""
              />
              <a class="square-card-logo" target="_blank">
                <img
                  class="h-[30px]"
                  src="assets/images/bertazzoni-logo.png"
                  alt=""
                />
              </a>
              <p class="square-card-text">
                <span>義式工藝演繹廚房中的優雅美學，洗碗機界的義大利超跑</span>
              </p>
              <ul class="relative z-[1] flex flex-col gap-4 text-base">
                <li class="flex items-start">
                  <h3
                    class="flex flex-shrink-0 items-center gap-2 text-[#0B387B]"
                  >
                    <img src="assets/images/clean.png" width="15px" alt="" />
                    特點：
                  </h3>
                  <p class="text-[#808080]">
                    源自義式經典設計美學、省時洗程滿足不同需求、雙烘乾模式潔淨節能更省心
                  </p>
                </li>
                <li class="flex items-start">
                  <h3
                    class="flex flex-shrink-0 items-center gap-2 text-[#0B387B]"
                  >
                    <img src="assets/images/family.png" width="15px" alt="" />
                    適合對象：
                  </h3>
                  <p class="text-[#808080]">追求美感與性能兼具的廚房風格</p>
                </li>
              </ul>
              <a
                class="square-card-btn"
                href="https://bertazzoni.kenk.com.tw/product.php?lang=tw&tb=1&cid=268"
                target="_blank"
                >BERTAZZONI洗碗機<span>＞</span>
              </a>
            </div>
            <div class="square-card">
              <img
                class="absolute left-[50%] top-[45%] z-[1] w-[90%] -translate-x-1/2 -translate-y-1/2 opacity-50"
                src="assets/images/bubble.png"
                alt=""
              />
              <a class="square-card-logo pb-1" target="_blank">
                <img
                  class="h-[42px]"
                  src="assets/images/whirlpool-logo.png"
                  alt="whirlpool-logo"
                />
              </a>
              <p class="square-card-text">
                <span>美洲市佔率第一洗碗機品牌</span>
              </p>
              <ul class="relative z-[1] flex flex-col gap-4 text-base">
                <li class="flex items-start">
                  <h3
                    class="flex flex-shrink-0 items-center gap-2 text-[#0B387B]"
                  >
                    <img src="assets/images/clean.png" width="15px" alt="" />
                    特點：
                  </h3>
                  <p class="text-[#808080]">
                    PowerClean強力清洗、第6感智能感應智能調整洗程、三層碗藍皆可單層清洗
                  </p>
                </li>
                <li class="flex items-start">
                  <h3
                    class="flex flex-shrink-0 items-center gap-2 text-[#0B387B]"
                  >
                    <img src="assets/images/family.png" width="15px" alt="" />
                    適合對象：
                  </h3>
                  <p class="text-[#808080]">
                    櫥櫃適用最低77.5公分、重視實用與耐用
                  </p>
                </li>
              </ul>
              <a
                class="square-card-btn"
                href="https://whirlpool.kenk.com.tw/product.php?lang=tw&tb=1&cid=4"
                target="_blank"
                >Whirlpool洗碗機<span>＞</span>
              </a>
            </div>
            <div class="square-card">
              <img
                class="absolute left-[50%] top-[45%] z-[1] w-[90%] -translate-x-1/2 -translate-y-1/2 opacity-50"
                src="assets/images/bubble.png"
                alt=""
              />
              <a class="square-card-logo" target="_blank">
                <img class="h-[30px]" src="assets/images/ke-logo.png" alt="" />
              </a>
              <p class="square-card-text">
                <span>是烘碗機，也是洗碗機，專為台灣市場需求量身設計</span>
              </p>
              <ul class="relative z-[1] flex flex-col gap-4 text-base">
                <li class="flex items-start">
                  <h3
                    class="flex flex-shrink-0 items-center gap-2 text-[#0B387B]"
                  >
                    <img src="assets/images/clean.png" width="15px" alt="" />
                    特點：
                  </h3>
                  <p class="text-[#808080]">
                    45度獨立熱風烘碗行程、7天換氣儲存可當碗櫃、免改櫃符合台式櫥櫃高度76.5公分
                  </p>
                </li>
                <li class="flex items-start">
                  <h3
                    class="flex flex-shrink-0 items-center gap-2 text-[#0B387B]"
                  >
                    <img src="assets/images/family.png" width="15px" alt="" />
                    適合對象：
                  </h3>
                  <p class="text-[#808080]">
                    從烘碗機升級到洗碗機的首選、重視預算及實用性
                  </p>
                </li>
              </ul>
              <a
                class="square-card-btn"
                href="https://kedw.kenk.com.tw/"
                target="_blank"
                >KE 洗碗機<span>＞</span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <img
          class="bg-decorate absolute bottom-0 right-0 z-[-1] w-[50%] md:w-[40%] lg:max-h-[800px] lg:w-auto"
          src="assets/images/bg-decorate-4.png"
          alt=""
        />
        <div class="container">
          <div class="flex justify-center">
            <div class="section-title">
              <h2 class="flex justify-center gap-2">
                <span>品牌影音專區</span>
              </h2>
            </div>
          </div>
          <div class="relative">
            <!-- Slider main container -->
            <div class="swiper brand-swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <lite-youtube
                    videoid="MG5iJKAB4hA"
                    playlabel="KE 烘碗洗碗機系列《全新上市》，是烘碗機 也是洗碗機，會烘碗的洗碗機！"
                  ></lite-youtube>
                </div>
                <div class="swiper-slide">
                  <lite-youtube
                    videoid="0qA_8L88BsQ"
                    playlabel="德國Miele精品家電 |Miele 洗碗機全形象廣告"
                  ></lite-youtube>
                </div>
                <div class="swiper-slide">
                  <lite-youtube
                    videoid="Cxv6CFn280o"
                    playlabel="美國Whirlpool- WDFS3R5PIXTW 獨立式洗碗機 使用教學說明"
                  ></lite-youtube>
                </div>
                <div class="swiper-slide">
                  <lite-youtube
                    videoid="fVy_mjOUzcM"
                    playlabel="義大利Bertazzoni DW6083FSBC 60洗碗機 產品操作教學"
                  ></lite-youtube>
                </div>
                <div class="swiper-slide">
                  <lite-youtube
                    videoid="jzd3ib12kNo"
                    playlabel="【快看!這是你最嘉之選】3分鐘選品達人幫你快速分析洗碗機"
                  ></lite-youtube>
                </div>
              </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="mb-5 flex flex-wrap gap-2">
          <h2 class="text-2xl">歡迎體驗洗碗機</h2>
          <div class="flex items-center gap-2 text-[12px]">
            <a
              href="https://ke.kenk.com.tw/edcontent.php?lang=tw&tb=1&cid=2&ot=all"
              target="_blank"
              class="rounded-full border border-white px-2 py-[2px] tracking-widest"
              >全台百貨櫃位</a
            >
            <a
              href="https://ke.kenk.com.tw/article_d.php?lang=tw&tb=3&id=38&ot=all"
              target="_blank"
              class="rounded-full border border-white px-2 py-[2px] tracking-widest"
              >全省展示中心</a
            >
          </div>
        </div>
        <div class="flex flex-wrap gap-2">
          <div class="flex gap-2">
            <span>總代理</span>
            <span>嘉儀企業</span>
          </div>
          <ul class="flex flex-wrap items-center gap-y-1">
            <li class="w-full md:mr-1 md:w-auto">
              <span class="whitespace-pre border-r border-white pr-2"
                >台北(02)2509-7718</span
              >
              <span class="whitespace-pre border-white pr-2 md:border-r"
                >新竹(03)553-4998</span
              >
            </li>

            <li class="w-full md:w-auto">
              <span class="whitespace-pre border-r border-white pr-2"
                >台中(04)2381-8388</span
              >
              <span class="whitespace-pre border-white pr-2"
                >高雄(07)550-5398</span
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <div id="go-to-top">
      <span class="">選對洗碗機</span>
      <button
        href=""
        class="flex items-center gap-2 rounded-full border border-[#C0A792] px-3 py-0"
      >
        必測
        <span
          ><img
            src="assets/images/go-to-top-arrow.png"
            width="10px"
            alt="go-to-top-arrow"
        /></span>
      </button>
    </div>
    <script src="https://unpkg.com/petite-vue" defer init></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@zumer/snapdom/dist/snapdom.min.js"></script>
    <script src="assets/js/swiper-bundle.js"></script>
    <script src="assets/js/index.js"></script>
  </body>
</html>
